.DashContainer {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.DashContainer h1 {
	margin: 0px;
}

/* ************* Dash Containers */

.TopDash {
	display: flex;
	height: 385px;
}
.BottomDash {
	display: flex;
	height: 400px;
	align-items: center;
	justify-content: center;
}
/* Files */

.FileItem {
	display: flex;
	align-items: center;
	margin: 12px 0px;
}
.FileInfo {
	text-align: left;
	line-height: 1rem;
}
.FileInfo h4,
.FileInfo p {
	margin: 0;
}
.FileItem img {
	width: 21px;
	margin-right: 10px;
}
.FileInfo h4 {
	font-weight: 100;
}
.FileInfo p {
	font-size: 0.75rem;
}
/* Comments */

.CommentItem {
	display: flex;
	align-items: center;
	margin: 12px 0px;
}

.CommentInfo {
	text-align: left;
	overflow: hidden;
}

.CommentItem img {
	width: 25px;
	margin-right: 10px;
}

.CommentInfo h4,
.CommentInfo p {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.CommentInfo h4 {
	font-weight: 100;
	line-height: 1rem;
}

.CommentInfo p {
	font-size: 0.75rem;
}
