.ContentContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Panel Mini Containers */
.CenterPanelTopSection {
	padding: 0;
}

.CenterPanelBottomSection {
	margin-top: auto;
}

/******** Project Top State */

/* Project Users */
.AddUserToProject {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	border-bottom: solid 1px #e4e4e4;
}

.AddUserToProject img {
	width: 24px;
	margin-right: 10px;
}

.AddUserToProject img:hover {
	cursor: pointer;
}

.AddUserToProject h4 {
	margin: 0;
	font-weight: 300;
	font-size: 0.7rem;
	color: #00000070;
}

.AddUserToProject h4,
.AddSongToProject p {
	margin: 0;
	color: #00000070;
}

/******* Project Bottom State */

/* Project Songs */

.AddSongToProject {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	margin-top: auto;
}

.AddSongToProject:hover {
	cursor: pointer;
}

.AddSongToProject img {
	width: 20px;
	margin-right: 10px;
}

.AddSongToProject p {
	margin: 0;
	font-size: 0.7rem;
	font-size: 0.85rem;
}
