.NavContainer {
	background-color: #2d9cdb;
	min-width: 230px;
	transition: 0.5s;
	padding: 15px 0px 0px 0px;
	box-sizing: border-box;
	height: 100%;
}

.ToggleIcon {
	position: absolute;
	bottom: 15px;
	left: 10px;
	width: 30px;
}

.ToggleIcon:hover {
	cursor: pointer;
}

.ProfileIcon {
	position: absolute;
	bottom: 10px;
	left: 180px;
	width: 40px;
}
