main {
	overflow-x: scroll;
	transition: 0.25s ease;
}

.Left {
	width: calc(100% - 230px);
}
.LeftCenter {
	width: calc(100% - 440px);
}
.LeftRight {
	width: calc(100% - 530px);
}
.LeftCenterRight {
	width: calc(100% - 740px);
}

.SignedOut {
	width: 100%;
}

.MenuContainer {
	display: flex;
	position: relative;
	z-index: 500;
}
