.Container {
	background-color: white;
	min-width: 400px;
	margin: 10px;
	overflow: scroll;
	box-shadow: 1px 1px 5px #80808030;
	padding: 10px;
	border-radius: 10px;
}

.Title {
	border-bottom: solid 1px grey;
	font-weight: lighter;
	letter-spacing: 0.05rem;
	text-align: left;
	padding: 4px 10px;
	margin: 10px 0px 5px 0px;
}

.List {
	height: 315px;
	overflow: scroll;
}
